.navbar__logo{
    width: 10rem;
}
.navbar{
    border-bottom: 1px solid #808080;
    padding: 0rem;    
}

.sobre-nosotros__titulo{
    font-family: 'Inter', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    text-align: center;
    font-weight: bolder;
    margin-top: 3rem;  

    
}

.sobre-nosotros__descripcion{
    font-family: 'Inter', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;   
    text-align: center;
    margin: 3rem 

}

.info{
    padding: 5rem 0;
    width: 70%;
    margin: 0 auto;

}

.operaciones{
    width: 40%;
    display: inline-block;
    vertical-align: top;
    font-family: 'Inter', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: bolder;
    
    

}

.items{
    line-height: 2.5;
}


.img-op{
    width: 40%;
    transition: 400ms;
    box-shadow: 10px 10px 30px 15px #000000;
    vertical-align: top;
}

.img-op:hover {
    opacity: 0.7;
}

.sobre_nosotros__form {
    margin-left: 100px;

}

.pie-de-pagina{
    text-align: center;
    
    
}

.copyright{
    color:#0d0b0b;
    font-size: 20px;
    font-weight: bold;
    

}